@model Product
@{
    ViewData["Title"] = "AddStock";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Supplier supplier = ViewBag.Supplier;
}
<label><b>Tedarikçi Bilgileri</b></label>
<table class="table table-bordered table-success">
    <thead>
        <tr>
            <th scope="col">Şirker Adı</th>
            <th scope="col">Yetkili</th>
            <th scope="col">Mail Adresi</th>
            <th scope="col">Telefon Numarası</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@supplier.CompanyName</th>
            <td>@supplier.ContactName</td>
            <td>@supplier.Email</td>
            <td>@supplier.PhoneNumber</td>
        </tr>
    </tbody>
</table>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div asp-validation-summary="All">

            </div>

            <form method="post">
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input class="form-control" type="text" name="id" value="@Model.Id" />
                </div>
                <div class="form-group">
                    <label>Eklenecek Adet</label>
                    <input name="stock" type="number" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
