@model OrderDetail
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Cashier/Views/Shared/_Layout.cshtml";

    var products = ViewBag.Products;
    var orderId = ViewBag.OrderId;
    var orderList = TempData["OrderList"];
    var customer = ViewBag.Customer;

    var Euro = ViewBag.Euro;
    var Dolar = ViewBag.Dolar;
}
<label><b>Güncel Döviz Kurları</b></label>
<table class="table table-bordered table-primary">
    <thead>
        <tr>
            <th scope="col">Tarih</th>
            <th scope="col">Dolar</th>
            <th scope="col">Euro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@DateTime.Now</th>
            <td>@Dolar</td>
            <td>@Euro</td>
        </tr>
    </tbody>
</table>
<hr />
<label><b>Müşteri Bilgileri</b></label>
<table class="table table-bordered table-warning">
    <thead>
        <tr>
            <th scope="col">TCKN</th>
            <th scope="col">İsim</th>
            <th scope="col">Telefon Numarası</th>
            <th scope="col">Adres</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@customer.TC</th>
            <td>@customer.CustomerName</td>
            <td>@customer.Phone</td>
            <td>@customer.Address</td>
        </tr>
    </tbody>
</table>
<hr />
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <select id="selectedProduct" class="form-control" asp-for="ProductId">
                        @foreach (Product product in products)
                        {
                            <option value="@product.Id">@product.ProductName</option>

                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Adet</label><br />
                    <input asp-for="Quantity" type="number" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Order ID</label><br />
                    <input asp-for="OrderId" type="text" value="@orderId" class="form-control" />
                </div>
                <button class="btn btn-primary mt-2" asp-action="Create" asp-controller="Order">Kaydet</button>
            </form>
        </div>
        <div class="mx-auto">
            @if (orderList != null)
            {

                <table class="table table-bordered table-primary">
                    <thead>
                        <tr>
                            <th>Ürün Adı</th>
                            <th>Ürün Birim Fiyatı</th>
                            <th>Ürün Adeti</th>
                            <th>Toplam</th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in orderList as List<OrderDetail>)
                        {
                            <tr>
                                <td>@item.Product.ProductName</td>
                                <td>@item.UnitPrice</td>
                                <td>@item.Quantity</td>
                                <td class="subTotal">@(item.UnitPrice * item.Quantity)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card mx-auto mt-4">
                    <div class="card-header">
                        <span>Toplam Ücret</span>
                    </div>
                    <div class="card-body mx-auto">
                        <span style="font-size:x-large" id="Total"></span>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink("Siparişi Tamamla", "OrderDone", "Order", new { OrderId = orderId }, new { @class = "btn btn-success btn-sm mt-2" })

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<style>
    img {
        width: 80px;
        height: 60px;
    }
</style>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ürün Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-success" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ürün Görseli</th>
                            <th>Ürün Adı</th>
                            <th>Stok Miktarı</th>
                            <th>Barkod No</th>
                            <th>Satış Fiyatı</th>
                            <th>Euro/Dolar Fiyatı</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ürün Görseli</th>
                            <th>Ürün Adı</th>
                            <th>Stok Miktarı</th>
                            <th>Barkod No</th>
                            <th>Satış Fiyatı</th>
                            <th>Euro/Dolar Fiyatı</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var product in products as List<Product>)
                        {
                            <tr>
                                <td><img src="~/img/Product/@product.ImageName"></td>
                                <td>@product.ProductName</td>
                                <td>@product.UnıtsInStock</td>
                                <td>@product.BarcodeNumber</td>
                                <td>@product.UnitPrice</td>
                                <td>@Euro / @Dolar</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var sum = 0;
            $('.subTotal').each(function () {
                sum += parseFloat($(this).html());
            });
            $('#Total').text(sum.toString() + "₺");
            console.log(sum);
        });
    </script>


}
